/* GLOBAL */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #EEEEEE;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
}

input {
  background-color: inherit;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000000;
}

input:hover {
  background-color: #FFFFFF;
}

button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000000;
  font-size: 16px;
}

button:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

/* HEADER */
header {
  padding: 20px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow:  10px 10px 20px #cacaca,
             -10px -10px 20px #ffffff;
}

@media (min-width: 800px) {
  nav > section:nth-child(1) {
    flex-grow: 0;
  }
  nav > section:nth-child(2) {
    flex-grow: 0;
    justify-content: flex-end !important;
  }
}

@media (min-width: 900px) {
  nav > section:nth-child(1) {
    justify-content: flex-start !important;
  }
  nav > section:nth-child(2) > a {
    margin: 0px 10px;
  }
}

nav > section:nth-child(1) {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  font-weight: 600;
  text-align: center;
}

nav > section:nth-child(2) {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

nav > section:nth-child(2) > a {
  padding: 15px;
}

nav > section:nth-child(2) > a:hover {
  font-weight: 600;
}

[data-rk] .ju367vdr {
  box-shadow: none !important;
}

/* MAIN */
main {
  padding: 20px 20px 100px 20px;
}

main > h1:nth-child(1) {
  margin-top: 0;
}

main > label {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

main > input {
  margin-right: 10px;
}

main > button {
  display: flex;
  margin: 20px 0px;
}

.orders {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

@media (min-width: 340px) {
  .orders {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 500px) {
  .orders {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 800px) {
  .orders {
    grid-template-columns: repeat(4, 1fr);
  }
}

.order {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  box-shadow:  10px 10px 20px #cacaca,
             -10px -10px 20px #ffffff;
}

.order > span {
  font-weight: 600;
  padding: 5px 0px;
}

.order > a {
  border: 1px solid #000000;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.order > a:hover {
  background-color: #EEEEEE;
}

.order > button {
  background-color: inherit;
}

.order > button:hover {
  background-color: #EEEEEE;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  width: 120px;
  font-size: 80px;
  border-radius: 60px;
  user-select: none;
}

.profile h2 {
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}